body{
    margin:0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
div.interface{
    position: relative;
    margin: 10px auto 0 auto; 
    width:95%;
    box-sizing: border-box;
    padding:10px 50px 50px 50px;
    border-radius:50px;
    background-color: aquamarine;
}
section{
    width: 100%;
    background-color: azure;
    box-sizing: border-box;
    padding: 30px 30px 50px 30px;
    border-radius:40px;
    box-shadow: 5px 5px 10px rgba(0, 50, 100, 0.5);

}
h1{
    text-align:center;
    color:rgba(65, 28, 228, 0.822);
}
h2{
    color:lightsalmon;

}
h3{

}
input[type=text]{
    width:60%;
    height: 30px;
    font-size: 15pt;
    border-radius:4px;
    border:2px solid #ccc;
    background-color: white;
    padding: 10px;
    
    
}

input[type=radio]{
    box-sizing: border-box;
    background-color: yellowgreen;
    
}
input[type=button]{
    display:flex ;
    margin-top:10px;
    font-size: 13pt;
    padding: 15px 10px;
    background-color:green;
    border:none;
    color:white;
}
img{

}
