body{
    background-color: dimgray;
    color: lightcyan;
}
hgroup#tituloPrincipal{
    width:100%;
    height: 50px;
    margin-bottom: 50px;
    border-bottom:solid 1px #ffffff;
}

input{
    font-size:16pt;
    border-radius:5px;
}

input.campo{
    width:350px;
    border: solid 1px;
    box-shadow: 2px 2px 3px 2px #ffffff;
    margin-right:10px;
    
}