body{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin:30px 0 0 0;
    padding:15px 50px 15px 15px;
    color:#ffffff;
    text-align: center;
    
}
.interface{
    position: relative;
    width:100%;
    margin: auto;
    padding:15px;
    border-radius:50px;
    background-color: DeepSkyBlue;
}
header h1{
    text-align:center;
   

}
section{
    position: relative;
    width:500px;
    padding:15px;
    margin:auto;
    border-radius:15px;
    background-color:#ffffff;
    color:#000000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}
footer{
    position:relative;
    text-align: center;
    margin-top: 50px;
    font-weight:550;
    font-family: 'Courier New', Courier, monospace;
    font-size:10pt;
    font-style: italic;
}
img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
